UIElementsSchema/UnityEditor.Overlays.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="UnityEditor.Overlays" elementFormDefault="qualified" targetNamespace="UnityEditor.Overlays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="UnityEngine.UIElements.xsd" namespace="UnityEngine.UIElements" />
  <xs:complexType name="DynamicPanelOverlayContainerType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OverlayContainerType">
        <xs:sequence>
          <xs:element xmlns:q1="UnityEngine.UIElements" ref="q1:VisualElement" />
        </xs:sequence>
        <xs:attribute default="false" name="align-right" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OverlayContainerType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="UnityEngine.UIElements" base="q2:VisualElementType">
        <xs:sequence>
          <xs:element ref="q2:VisualElement" />
        </xs:sequence>
        <xs:attribute name="horizontal" type="xs:boolean" />
        <xs:attribute name="supported-overlay-layout" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OverlayContainer" xmlns:q3="UnityEngine.UIElements" substitutionGroup="q3:VisualElement" type="tns:OverlayContainerType" />
  <xs:element name="DynamicPanelOverlayContainer" substitutionGroup="tns:OverlayContainer" type="tns:DynamicPanelOverlayContainerType" />
  <xs:complexType name="MainToolbarOverlayContainerType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ToolbarOverlayContainerType">
        <xs:sequence>
          <xs:element xmlns:q4="UnityEngine.UIElements" ref="q4:VisualElement" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ToolbarOverlayContainerType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OverlayContainerType">
        <xs:sequence>
          <xs:element xmlns:q5="UnityEngine.UIElements" ref="q5:VisualElement" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ToolbarOverlayContainer" substitutionGroup="tns:OverlayContainer" type="tns:ToolbarOverlayContainerType" />
  <xs:element name="MainToolbarOverlayContainer" substitutionGroup="tns:ToolbarOverlayContainer" type="tns:MainToolbarOverlayContainerType" />
  <xs:complexType name="AnchoredOverlayContainerType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OverlayContainerType">
        <xs:sequence>
          <xs:element xmlns:q6="UnityEngine.UIElements" ref="q6:VisualElement" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AnchoredOverlayContainer" substitutionGroup="tns:OverlayContainer" type="tns:AnchoredOverlayContainerType" />
</xs:schema>