UIElementsSchema/UnityEditor.Tilemaps.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="UnityEditor.Tilemaps" elementFormDefault="qualified" targetNamespace="UnityEditor.Tilemaps" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="UnityEngine.UIElements.xsd" namespace="UnityEngine.UIElements" />
  <xs:import schemaLocation="UnityEditor.UIElements.xsd" namespace="UnityEditor.UIElements" />
  <xs:complexType name="TilePaletteBrushPickElementType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="UnityEngine.UIElements" base="q1:VisualElementType">
        <xs:sequence>
          <xs:element ref="q1:VisualElement" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TilePaletteBrushPickElement" xmlns:q2="UnityEngine.UIElements" substitutionGroup="q2:VisualElement" type="tns:TilePaletteBrushPickElementType" />
  <xs:complexType name="TilePaletteElementType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="UnityEngine.UIElements" base="q3:VisualElementType">
        <xs:sequence>
          <xs:element ref="q3:VisualElement" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TilePaletteElement" xmlns:q4="UnityEngine.UIElements" substitutionGroup="q4:VisualElement" type="tns:TilePaletteElementType" />
  <xs:complexType name="TilePaletteClipboardFirstUserElementType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="UnityEngine.UIElements" base="q5:VisualElementType">
        <xs:sequence>
          <xs:element ref="q5:VisualElement" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TilePaletteClipboardFirstUserElement" xmlns:q6="UnityEngine.UIElements" substitutionGroup="q6:VisualElement" type="tns:TilePaletteClipboardFirstUserElementType" />
  <xs:complexType name="TilePaletteActivePalettePopupType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="UnityEngine.UIElements" base="q7:BindableElementType">
        <xs:sequence>
          <xs:element ref="q7:VisualElement" />
        </xs:sequence>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute name="value" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TilePaletteActivePalettePopup" xmlns:q8="UnityEngine.UIElements" substitutionGroup="q8:BindableElement" type="tns:TilePaletteActivePalettePopupType" />
  <xs:complexType name="TilePaletteBrushesPopupType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="UnityEngine.UIElements" base="q9:BindableElementType">
        <xs:sequence>
          <xs:element ref="q9:VisualElement" />
        </xs:sequence>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="project://database/?fileID=0&amp;guid=&amp;type=0#Default Brush" name="value" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TilePaletteBrushesPopup" xmlns:q10="UnityEngine.UIElements" substitutionGroup="q10:BindableElement" type="tns:TilePaletteBrushesPopupType" />
  <xs:complexType name="TilePaletteActiveTargetsPopupType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="UnityEngine.UIElements" base="q11:BindableElementType">
        <xs:sequence>
          <xs:element ref="q11:VisualElement" />
        </xs:sequence>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute name="value" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TilePaletteActiveTargetsPopup" xmlns:q12="UnityEngine.UIElements" substitutionGroup="q12:BindableElement" type="tns:TilePaletteActiveTargetsPopupType" />
  <xs:complexType name="TilePaletteBrushesButtonType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q13="UnityEditor.UIElements" base="q13:ToolbarButtonType">
        <xs:sequence>
          <xs:element xmlns:q14="UnityEngine.UIElements" ref="q14:VisualElement" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TilePaletteBrushesButton" xmlns:q15="UnityEditor.UIElements" substitutionGroup="q15:ToolbarButton" type="tns:TilePaletteBrushesButtonType" />
  <xs:complexType name="TilePaletteBrushInspectorElementType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q16="UnityEngine.UIElements" base="q16:IMGUIContainerType">
        <xs:sequence>
          <xs:element ref="q16:VisualElement" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TilePaletteBrushInspectorElement" xmlns:q17="UnityEngine.UIElements" substitutionGroup="q17:IMGUIContainer" type="tns:TilePaletteBrushInspectorElementType" />
  <xs:complexType name="TilePaletteClipboardElementType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q18="UnityEngine.UIElements" base="q18:VisualElementType">
        <xs:sequence>
          <xs:element ref="q18:VisualElement" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TilePaletteClipboardElement" xmlns:q19="UnityEngine.UIElements" substitutionGroup="q19:VisualElement" type="tns:TilePaletteClipboardElementType" />
  <xs:complexType name="TilePaletteFocusDropdownType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q20="UnityEditor.UIElements" base="q20:ToolbarButtonType">
        <xs:sequence>
          <xs:element xmlns:q21="UnityEngine.UIElements" ref="q21:VisualElement" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TilePaletteFocusDropdown" xmlns:q22="UnityEditor.UIElements" substitutionGroup="q22:ToolbarButton" type="tns:TilePaletteFocusDropdownType" />
  <xs:complexType name="TilePaletteClipboardViewElementType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q23="UnityEngine.UIElements" base="q23:VisualElementType">
        <xs:sequence>
          <xs:element ref="q23:VisualElement" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TilePaletteClipboardViewElement" xmlns:q24="UnityEngine.UIElements" substitutionGroup="q24:VisualElement" type="tns:TilePaletteClipboardViewElementType" />
  <xs:complexType name="TilePaletteBrushesLabelType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q25="UnityEngine.UIElements" base="q25:TextElementType">
        <xs:sequence>
          <xs:element ref="q25:VisualElement" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TilePaletteBrushesLabel" xmlns:q26="UnityEngine.UIElements" substitutionGroup="q26:TextElement" type="tns:TilePaletteBrushesLabelType" />
  <xs:complexType name="TilePaletteClipboardErrorElementType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q27="UnityEngine.UIElements" base="q27:VisualElementType">
        <xs:sequence>
          <xs:element ref="q27:VisualElement" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TilePaletteClipboardErrorElement" xmlns:q28="UnityEngine.UIElements" substitutionGroup="q28:VisualElement" type="tns:TilePaletteClipboardErrorElementType" />
  <xs:complexType name="GridPaintingToolbarType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q29="UnityEngine.UIElements" base="q29:VisualElementType">
        <xs:sequence>
          <xs:element ref="q29:VisualElement" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GridPaintingToolbar" xmlns:q30="UnityEngine.UIElements" substitutionGroup="q30:VisualElement" type="tns:GridPaintingToolbarType" />
</xs:schema>