UIElementsSchema/UnityEditor.U2D.Animation.SpriteLibraryEditor.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="UnityEditor.U2D.Animation.SpriteLibraryEditor" elementFormDefault="qualified" targetNamespace="UnityEditor.U2D.Animation.SpriteLibraryEditor" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="UnityEngine.UIElements.xsd" namespace="UnityEngine.UIElements" />
  <xs:complexType name="GridViewType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="UnityEngine.UIElements" base="q1:BindableElementType">
        <xs:sequence>
          <xs:element ref="q1:VisualElement" />
        </xs:sequence>
        <xs:attribute default="30" name="item-height" type="xs:int" />
        <xs:attribute default="false" name="item-square" type="xs:boolean" />
        <xs:attribute default="Single" name="selection-type" type="q1:SelectionTypeType" />
        <xs:attribute default="true" name="allow-no-selection" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GridView" xmlns:q2="UnityEngine.UIElements" substitutionGroup="q2:BindableElement" type="tns:GridViewType" />
  <xs:complexType name="EditorBottomToolbarType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="UnityEngine.UIElements" base="q3:VisualElementType">
        <xs:sequence>
          <xs:element ref="q3:VisualElement" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EditorBottomToolbar" xmlns:q4="UnityEngine.UIElements" substitutionGroup="q4:VisualElement" type="tns:EditorBottomToolbarType" />
  <xs:complexType name="EditorTabHeaderType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="UnityEngine.UIElements" base="q5:VisualElementType">
        <xs:sequence>
          <xs:element ref="q5:VisualElement" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EditorTabHeader" xmlns:q6="UnityEngine.UIElements" substitutionGroup="q6:VisualElement" type="tns:EditorTabHeaderType" />
  <xs:complexType name="EditorTopToolbarType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="UnityEngine.UIElements" base="q7:VisualElementType">
        <xs:sequence>
          <xs:element ref="q7:VisualElement" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EditorTopToolbar" xmlns:q8="UnityEngine.UIElements" substitutionGroup="q8:VisualElement" type="tns:EditorTopToolbarType" />
  <xs:complexType name="EditorMainWindowType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="UnityEngine.UIElements" base="q9:VisualElementType">
        <xs:sequence>
          <xs:element ref="q9:VisualElement" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EditorMainWindow" xmlns:q10="UnityEngine.UIElements" substitutionGroup="q10:VisualElement" type="tns:EditorMainWindowType" />
  <xs:complexType name="LabelsTabType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="UnityEngine.UIElements" base="q11:VisualElementType">
        <xs:sequence>
          <xs:element ref="q11:VisualElement" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LabelsTab" xmlns:q12="UnityEngine.UIElements" substitutionGroup="q12:VisualElement" type="tns:LabelsTabType" />
  <xs:complexType name="CategoriesTabType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q13="UnityEngine.UIElements" base="q13:VisualElementType">
        <xs:sequence>
          <xs:element ref="q13:VisualElement" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CategoriesTab" xmlns:q14="UnityEngine.UIElements" substitutionGroup="q14:VisualElement" type="tns:CategoriesTabType" />
</xs:schema>