UIElementsSchema/Unity.UIToolkit.Editor.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Unity.UIToolkit.Editor" elementFormDefault="qualified" targetNamespace="Unity.UIToolkit.Editor" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="UnityEngine.UIElements.xsd" namespace="UnityEngine.UIElements" />
  <xs:import schemaLocation="UnityEngine.xsd" namespace="UnityEngine" />
  <xs:complexType name="TextOverflowPositionStyleEnumFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="UnityEngine.UIElements" base="q1:BindableElementType">
        <xs:sequence>
          <xs:element ref="q1:Syntax" />
          <xs:element ref="q1:VisualElement" />
        </xs:sequence>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="end" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TextOverflowPositionStyleEnumField" xmlns:q2="UnityEngine.UIElements" substitutionGroup="q2:BindableElement" type="tns:TextOverflowPositionStyleEnumFieldType" />
  <xs:complexType name="FontStyleStyleEnumFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="UnityEngine.UIElements" base="q3:BindableElementType">
        <xs:sequence>
          <xs:element ref="q3:Syntax" />
          <xs:element ref="q3:VisualElement" />
        </xs:sequence>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="normal" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FontStyleStyleEnumField" xmlns:q4="UnityEngine.UIElements" substitutionGroup="q4:BindableElement" type="tns:FontStyleStyleEnumFieldType" />
  <xs:complexType name="SpacingBoxModelFieldType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OverrideRowType">
        <xs:sequence>
          <xs:element xmlns:q5="UnityEngine.UIElements" ref="q5:VisualElement" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OverrideRowType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="UnityEngine.UIElements" base="q6:VisualElementType">
        <xs:sequence>
          <xs:element ref="q6:VisualElement" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OverrideRow" xmlns:q7="UnityEngine.UIElements" substitutionGroup="q7:VisualElement" type="tns:OverrideRowType" />
  <xs:element name="SpacingBoxModelField" substitutionGroup="tns:OverrideRow" type="tns:SpacingBoxModelFieldType" />
  <xs:complexType name="JustifyStyleEnumFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="UnityEngine.UIElements" base="q8:BindableElementType">
        <xs:sequence>
          <xs:element ref="q8:Syntax" />
          <xs:element ref="q8:VisualElement" />
        </xs:sequence>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="flexstart" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="JustifyStyleEnumField" xmlns:q9="UnityEngine.UIElements" substitutionGroup="q9:BindableElement" type="tns:JustifyStyleEnumFieldType" />
  <xs:complexType name="TextAlignStyleEnumFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="UnityEngine.UIElements" base="q10:BindableElementType">
        <xs:sequence>
          <xs:element ref="q10:Syntax" />
          <xs:element ref="q10:VisualElement" />
        </xs:sequence>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="upperleft" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TextAlignStyleEnumField" xmlns:q11="UnityEngine.UIElements" substitutionGroup="q11:BindableElement" type="tns:TextAlignStyleEnumFieldType" />
  <xs:complexType name="StyleBackgroundSizeFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q12="UnityEngine.UIElements" base="q12:BindableElementType">
        <xs:sequence>
          <xs:element ref="q12:Syntax" />
          <xs:element ref="q12:VisualElement" />
        </xs:sequence>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="0 0" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleBackgroundSizeField" xmlns:q13="UnityEngine.UIElements" substitutionGroup="q13:BindableElement" type="tns:StyleBackgroundSizeFieldType" />
  <xs:complexType name="OverflowStyleEnumFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q14="UnityEngine.UIElements" base="q14:BindableElementType">
        <xs:sequence>
          <xs:element ref="q14:Syntax" />
          <xs:element ref="q14:VisualElement" />
        </xs:sequence>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="visible" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OverflowStyleEnumField" xmlns:q15="UnityEngine.UIElements" substitutionGroup="q15:BindableElement" type="tns:OverflowStyleEnumFieldType" />
  <xs:complexType name="TextGeneratorTypeStyleEnumFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q16="UnityEngine.UIElements" base="q16:BindableElementType">
        <xs:sequence>
          <xs:element ref="q16:Syntax" />
          <xs:element ref="q16:VisualElement" />
        </xs:sequence>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="standard" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TextGeneratorTypeStyleEnumField" xmlns:q17="UnityEngine.UIElements" substitutionGroup="q17:BindableElement" type="tns:TextGeneratorTypeStyleEnumFieldType" />
  <xs:complexType name="MarginFoldoutFieldType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LengthFoldoutFieldType">
        <xs:sequence>
          <xs:element xmlns:q18="UnityEngine.UIElements" ref="q18:VisualElement" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LengthFoldoutFieldType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OverrideFoldoutType">
        <xs:sequence>
          <xs:element xmlns:q19="UnityEngine.UIElements" ref="q19:VisualElement" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OverrideFoldoutType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OverrideRowType">
        <xs:sequence>
          <xs:element xmlns:q20="UnityEngine.UIElements" ref="q20:VisualElement" />
        </xs:sequence>
        <xs:attribute name="text" type="xs:string" />
        <xs:attribute default="true" name="value" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OverrideFoldout" substitutionGroup="tns:OverrideRow" type="tns:OverrideFoldoutType" />
  <xs:element name="LengthFoldoutField" substitutionGroup="tns:OverrideFoldout" type="tns:LengthFoldoutFieldType" />
  <xs:element name="MarginFoldoutField" substitutionGroup="tns:LengthFoldoutField" type="tns:MarginFoldoutFieldType" />
  <xs:complexType name="StyleFontFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q21="UnityEngine.UIElements" base="q21:BindableElementType">
        <xs:sequence>
          <xs:element ref="q21:Syntax" />
          <xs:element ref="q21:VisualElement" />
        </xs:sequence>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="none" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleFontField" xmlns:q22="UnityEngine.UIElements" substitutionGroup="q22:BindableElement" type="tns:StyleFontFieldType" />
  <xs:complexType name="AlignStyleEnumFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q23="UnityEngine.UIElements" base="q23:BindableElementType">
        <xs:sequence>
          <xs:element ref="q23:Syntax" />
          <xs:element ref="q23:VisualElement" />
        </xs:sequence>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="auto" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
        <xs:attribute name="auto-tooltip" type="xs:string" />
        <xs:attribute name="flex-start-tooltip" type="xs:string" />
        <xs:attribute name="center-tooltip" type="xs:string" />
        <xs:attribute name="flex-end-tooltip" type="xs:string" />
        <xs:attribute name="stretch-tooltip" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AlignStyleEnumField" xmlns:q24="UnityEngine.UIElements" substitutionGroup="q24:BindableElement" type="tns:AlignStyleEnumFieldType" />
  <xs:complexType name="StyleLengthFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q25="UnityEngine.UIElements" base="q25:BindableElementType">
        <xs:sequence>
          <xs:element ref="q25:Syntax" />
          <xs:element ref="q25:VisualElement" />
        </xs:sequence>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="0" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
        <xs:attribute default="true" name="show-unit-as-dropdown" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleLengthField" xmlns:q26="UnityEngine.UIElements" substitutionGroup="q26:BindableElement" type="tns:StyleLengthFieldType" />
  <xs:complexType name="BackgroundSizeStyleFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q27="UnityEngine.UIElements" base="q27:BindableElementType">
        <xs:sequence>
          <xs:element ref="q27:VisualElement" />
        </xs:sequence>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="0 0" name="value" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BackgroundSizeStyleField" xmlns:q28="UnityEngine.UIElements" substitutionGroup="q28:BindableElement" type="tns:BackgroundSizeStyleFieldType" />
  <xs:complexType name="UISelectionObjectHeaderType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q29="UnityEngine.UIElements" base="q29:VisualElementType">
        <xs:sequence>
          <xs:element ref="q29:VisualElement" />
        </xs:sequence>
        <xs:attribute name="type-icon" type="xs:string" />
        <xs:attribute name="type-name" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UISelectionObjectHeader" xmlns:q30="UnityEngine.UIElements" substitutionGroup="q30:VisualElement" type="tns:UISelectionObjectHeaderType" />
  <xs:complexType name="OpenInBuilderElementType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q31="UnityEngine.UIElements" base="q31:VisualElementType">
        <xs:sequence>
          <xs:element ref="q31:VisualElement" />
        </xs:sequence>
        <xs:attribute name="visual-tree-asset" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OpenInBuilderElement" xmlns:q32="UnityEngine.UIElements" substitutionGroup="q32:VisualElement" type="tns:OpenInBuilderElementType" />
  <xs:complexType name="StylePropertyBindingType">
    <xs:sequence>
      <xs:element xmlns:q33="UnityEngine.UIElements" ref="q33:VisualElement" />
    </xs:sequence>
    <xs:attribute name="property" type="xs:string" />
    <xs:attribute default="OnSourceChanged" name="update-trigger" xmlns:q34="UnityEngine.UIElements" type="q34:BindingUpdateTriggerType" />
    <xs:attribute name="style-property" type="xs:string" />
  </xs:complexType>
  <xs:element name="StylePropertyBinding" type="tns:StylePropertyBindingType" />
  <xs:complexType name="StyleScaleFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q35="UnityEngine.UIElements" base="q35:BindableElementType">
        <xs:sequence>
          <xs:element ref="q35:Syntax" />
          <xs:element ref="q35:VisualElement" />
        </xs:sequence>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="0" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleScaleField" xmlns:q36="UnityEngine.UIElements" substitutionGroup="q36:BindableElement" type="tns:StyleScaleFieldType" />
  <xs:complexType name="StyleFontDefinitionFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q37="UnityEngine.UIElements" base="q37:BindableElementType">
        <xs:sequence>
          <xs:element ref="q37:Syntax" />
          <xs:element ref="q37:VisualElement" />
        </xs:sequence>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleFontDefinitionField" xmlns:q38="UnityEngine.UIElements" substitutionGroup="q38:BindableElement" type="tns:StyleFontDefinitionFieldType" />
  <xs:complexType name="DisplayStyleEnumFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q39="UnityEngine.UIElements" base="q39:BindableElementType">
        <xs:sequence>
          <xs:element ref="q39:Syntax" />
          <xs:element ref="q39:VisualElement" />
        </xs:sequence>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="flex" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DisplayStyleEnumField" xmlns:q40="UnityEngine.UIElements" substitutionGroup="q40:BindableElement" type="tns:DisplayStyleEnumFieldType" />
  <xs:complexType name="StyleBackgroundRepeatFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q41="UnityEngine.UIElements" base="q41:BindableElementType">
        <xs:sequence>
          <xs:element ref="q41:Syntax" />
          <xs:element ref="q41:VisualElement" />
        </xs:sequence>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="no-repeat" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleBackgroundRepeatField" xmlns:q42="UnityEngine.UIElements" substitutionGroup="q42:BindableElement" type="tns:StyleBackgroundRepeatFieldType" />
  <xs:complexType name="VisibilityStyleEnumFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q43="UnityEngine.UIElements" base="q43:BindableElementType">
        <xs:sequence>
          <xs:element ref="q43:Syntax" />
          <xs:element ref="q43:VisualElement" />
        </xs:sequence>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="visible" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VisibilityStyleEnumField" xmlns:q44="UnityEngine.UIElements" substitutionGroup="q44:BindableElement" type="tns:VisibilityStyleEnumFieldType" />
  <xs:complexType name="BackgroundRepeatStyleFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q45="UnityEngine.UIElements" base="q45:BindableElementType">
        <xs:sequence>
          <xs:element ref="q45:VisualElement" />
        </xs:sequence>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="no-repeat" name="value" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BackgroundRepeatStyleField" xmlns:q46="UnityEngine.UIElements" substitutionGroup="q46:BindableElement" type="tns:BackgroundRepeatStyleFieldType" />
  <xs:complexType name="VisualElementHeaderType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UISelectionObjectHeaderType">
        <xs:sequence>
          <xs:element xmlns:q47="UnityEngine.UIElements" ref="q47:VisualElement" />
        </xs:sequence>
        <xs:attribute name="element-name" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VisualElementHeader" substitutionGroup="tns:UISelectionObjectHeader" type="tns:VisualElementHeaderType" />
  <xs:complexType name="StyleBackgroundPositionFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q48="UnityEngine.UIElements" base="q48:BindableElementType">
        <xs:sequence>
          <xs:element ref="q48:Syntax" />
          <xs:element ref="q48:VisualElement" />
        </xs:sequence>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="center" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleBackgroundPositionField" xmlns:q49="UnityEngine.UIElements" substitutionGroup="q49:BindableElement" type="tns:StyleBackgroundPositionFieldType" />
  <xs:complexType name="VisualTreeAssetInspectorType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q50="UnityEngine.UIElements" base="q50:VisualElementType">
        <xs:sequence>
          <xs:element ref="q50:VisualElement" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VisualTreeAssetInspector" xmlns:q51="UnityEngine.UIElements" substitutionGroup="q51:VisualElement" type="tns:VisualTreeAssetInspectorType" />
  <xs:complexType name="PositionAnchorsType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q52="UnityEngine.UIElements" base="q52:VisualElementType">
        <xs:sequence>
          <xs:element ref="q52:VisualElement" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PositionAnchors" xmlns:q53="UnityEngine.UIElements" substitutionGroup="q53:VisualElement" type="tns:PositionAnchorsType" />
  <xs:complexType name="BorderBoxModelFieldType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OverrideRowType">
        <xs:sequence>
          <xs:element xmlns:q54="UnityEngine.UIElements" ref="q54:VisualElement" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BorderBoxModelField" substitutionGroup="tns:OverrideRow" type="tns:BorderBoxModelFieldType" />
  <xs:complexType name="StyleMaterialDefinitionFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q55="UnityEngine.UIElements" base="q55:BindableElementType">
        <xs:sequence>
          <xs:element ref="q55:Syntax" />
          <xs:element ref="q55:VisualElement" />
        </xs:sequence>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="none" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleMaterialDefinitionField" xmlns:q56="UnityEngine.UIElements" substitutionGroup="q56:BindableElement" type="tns:StyleMaterialDefinitionFieldType" />
  <xs:complexType name="StyleTransitionListViewType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q57="UnityEngine.UIElements" base="q57:VisualElementType">
        <xs:sequence>
          <xs:element ref="q57:VisualElement" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleTransitionListView" xmlns:q58="UnityEngine.UIElements" substitutionGroup="q58:VisualElement" type="tns:StyleTransitionListViewType" />
  <xs:complexType name="EditorTextRenderingModeStyleEnumFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q59="UnityEngine.UIElements" base="q59:BindableElementType">
        <xs:sequence>
          <xs:element ref="q59:Syntax" />
          <xs:element ref="q59:VisualElement" />
        </xs:sequence>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="sdf" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EditorTextRenderingModeStyleEnumField" xmlns:q60="UnityEngine.UIElements" substitutionGroup="q60:BindableElement" type="tns:EditorTextRenderingModeStyleEnumFieldType" />
  <xs:complexType name="FontStyleToggleFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q61="UnityEngine.UIElements" base="q61:BindableElementType">
        <xs:sequence>
          <xs:element ref="q61:VisualElement" />
        </xs:sequence>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="Normal" name="value" xmlns:q62="UnityEngine" type="q62:FontStyleType" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FontStyleToggleField" xmlns:q63="UnityEngine.UIElements" substitutionGroup="q63:BindableElement" type="tns:FontStyleToggleFieldType" />
  <xs:complexType name="SliceTypeStyleEnumFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q64="UnityEngine.UIElements" base="q64:BindableElementType">
        <xs:sequence>
          <xs:element ref="q64:Syntax" />
          <xs:element ref="q64:VisualElement" />
        </xs:sequence>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="sliced" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SliceTypeStyleEnumField" xmlns:q65="UnityEngine.UIElements" substitutionGroup="q65:BindableElement" type="tns:SliceTypeStyleEnumFieldType" />
  <xs:complexType name="BorderRadiusFoldoutType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OverrideFoldoutType">
        <xs:sequence>
          <xs:element xmlns:q66="UnityEngine.UIElements" ref="q66:VisualElement" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BorderRadiusFoldout" substitutionGroup="tns:OverrideFoldout" type="tns:BorderRadiusFoldoutType" />
  <xs:complexType name="WrapStyleEnumFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q67="UnityEngine.UIElements" base="q67:BindableElementType">
        <xs:sequence>
          <xs:element ref="q67:Syntax" />
          <xs:element ref="q67:VisualElement" />
        </xs:sequence>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="nowrap" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WrapStyleEnumField" xmlns:q68="UnityEngine.UIElements" substitutionGroup="q68:BindableElement" type="tns:WrapStyleEnumFieldType" />
  <xs:complexType name="WhiteSpaceStyleEnumFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q69="UnityEngine.UIElements" base="q69:BindableElementType">
        <xs:sequence>
          <xs:element ref="q69:Syntax" />
          <xs:element ref="q69:VisualElement" />
        </xs:sequence>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="normal" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WhiteSpaceStyleEnumField" xmlns:q70="UnityEngine.UIElements" substitutionGroup="q70:BindableElement" type="tns:WhiteSpaceStyleEnumFieldType" />
  <xs:complexType name="StyleTextShadowFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q71="UnityEngine.UIElements" base="q71:BindableElementType">
        <xs:sequence>
          <xs:element ref="q71:Syntax" />
          <xs:element ref="q71:VisualElement" />
        </xs:sequence>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="0px 0px rgba(0, 0, 0, 0)" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleTextShadowField" xmlns:q72="UnityEngine.UIElements" substitutionGroup="q72:BindableElement" type="tns:StyleTextShadowFieldType" />
  <xs:complexType name="StylePercentSliderFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q73="UnityEngine.UIElements" base="q73:BindableElementType">
        <xs:sequence>
          <xs:element ref="q73:Syntax" />
          <xs:element ref="q73:VisualElement" />
        </xs:sequence>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="0" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StylePercentSliderField" xmlns:q74="UnityEngine.UIElements" substitutionGroup="q74:BindableElement" type="tns:StylePercentSliderFieldType" />
  <xs:complexType name="UnityTextAlignStyleEnumFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q75="UnityEngine.UIElements" base="q75:BindableElementType">
        <xs:sequence>
          <xs:element ref="q75:Syntax" />
          <xs:element ref="q75:VisualElement" />
        </xs:sequence>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="upperleft" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UnityTextAlignStyleEnumField" xmlns:q76="UnityEngine.UIElements" substitutionGroup="q76:BindableElement" type="tns:UnityTextAlignStyleEnumFieldType" />
  <xs:complexType name="BorderColorFoldoutType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OverrideFoldoutType">
        <xs:sequence>
          <xs:element xmlns:q77="UnityEngine.UIElements" ref="q77:VisualElement" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BorderColorFoldout" substitutionGroup="tns:OverrideFoldout" type="tns:BorderColorFoldoutType" />
  <xs:complexType name="StyleCursorFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q78="UnityEngine.UIElements" base="q78:BindableElementType">
        <xs:sequence>
          <xs:element ref="q78:Syntax" />
          <xs:element ref="q78:VisualElement" />
        </xs:sequence>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default=" 0 0" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleCursorField" xmlns:q79="UnityEngine.UIElements" substitutionGroup="q79:BindableElement" type="tns:StyleCursorFieldType" />
  <xs:complexType name="FieldAffordanceElementType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q80="UnityEngine.UIElements" base="q80:VisualElementType">
        <xs:sequence>
          <xs:element ref="q80:VisualElement" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FieldAffordanceElement" xmlns:q81="UnityEngine.UIElements" substitutionGroup="q81:VisualElement" type="tns:FieldAffordanceElementType" />
  <xs:complexType name="StyleRotateFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q82="UnityEngine.UIElements" base="q82:BindableElementType">
        <xs:sequence>
          <xs:element ref="q82:Syntax" />
          <xs:element ref="q82:VisualElement" />
        </xs:sequence>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="0 0 0 0" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleRotateField" xmlns:q83="UnityEngine.UIElements" substitutionGroup="q83:BindableElement" type="tns:StyleRotateFieldType" />
  <xs:complexType name="VisualTreeAssetHeaderType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UISelectionObjectHeaderType">
        <xs:sequence>
          <xs:element xmlns:q84="UnityEngine.UIElements" ref="q84:VisualElement" />
        </xs:sequence>
        <xs:attribute name="visual-tree-asset" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VisualTreeAssetHeader" substitutionGroup="tns:UISelectionObjectHeader" type="tns:VisualTreeAssetHeaderType" />
  <xs:complexType name="PaddingFoldoutFieldType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LengthFoldoutFieldType">
        <xs:sequence>
          <xs:element xmlns:q85="UnityEngine.UIElements" ref="q85:VisualElement" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PaddingFoldoutField" substitutionGroup="tns:LengthFoldoutField" type="tns:PaddingFoldoutFieldType" />
  <xs:complexType name="StyleInspectorElementType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q86="UnityEngine.UIElements" base="q86:VisualElementType">
        <xs:sequence>
          <xs:element ref="q86:VisualElement" />
        </xs:sequence>
        <xs:attribute name="content-asset" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleInspectorElement" xmlns:q87="UnityEngine.UIElements" substitutionGroup="q87:VisualElement" type="tns:StyleInspectorElementType" />
  <xs:complexType name="StyleColorFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q88="UnityEngine.UIElements" base="q88:BindableElementType">
        <xs:sequence>
          <xs:element ref="q88:Syntax" />
          <xs:element ref="q88:VisualElement" />
        </xs:sequence>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="rgba(0, 0, 0, 0)" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleColorField" xmlns:q89="UnityEngine.UIElements" substitutionGroup="q89:BindableElement" type="tns:StyleColorFieldType" />
  <xs:complexType name="StyleFloatFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q90="UnityEngine.UIElements" base="q90:BindableElementType">
        <xs:sequence>
          <xs:element ref="q90:Syntax" />
          <xs:element ref="q90:VisualElement" />
        </xs:sequence>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="0" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleFloatField" xmlns:q91="UnityEngine.UIElements" substitutionGroup="q91:BindableElement" type="tns:StyleFloatFieldType" />
  <xs:complexType name="StyleIntFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q92="UnityEngine.UIElements" base="q92:BindableElementType">
        <xs:sequence>
          <xs:element ref="q92:Syntax" />
          <xs:element ref="q92:VisualElement" />
        </xs:sequence>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="0" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleIntField" xmlns:q93="UnityEngine.UIElements" substitutionGroup="q93:BindableElement" type="tns:StyleIntFieldType" />
  <xs:complexType name="BorderWidthFoldoutType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OverrideFoldoutType">
        <xs:sequence>
          <xs:element xmlns:q94="UnityEngine.UIElements" ref="q94:VisualElement" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BorderWidthFoldout" substitutionGroup="tns:OverrideFoldout" type="tns:BorderWidthFoldoutType" />
  <xs:complexType name="StyleTransformOriginFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q95="UnityEngine.UIElements" base="q95:BindableElementType">
        <xs:sequence>
          <xs:element ref="q95:Syntax" />
          <xs:element ref="q95:VisualElement" />
        </xs:sequence>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="top left" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleTransformOriginField" xmlns:q96="UnityEngine.UIElements" substitutionGroup="q96:BindableElement" type="tns:StyleTransformOriginFieldType" />
  <xs:complexType name="StyleTranslateFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q97="UnityEngine.UIElements" base="q97:BindableElementType">
        <xs:sequence>
          <xs:element ref="q97:Syntax" />
          <xs:element ref="q97:VisualElement" />
        </xs:sequence>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="0" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleTranslateField" xmlns:q98="UnityEngine.UIElements" substitutionGroup="q98:BindableElement" type="tns:StyleTranslateFieldType" />
  <xs:complexType name="FlexDirectionStyleEnumFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q99="UnityEngine.UIElements" base="q99:BindableElementType">
        <xs:sequence>
          <xs:element ref="q99:Syntax" />
          <xs:element ref="q99:VisualElement" />
        </xs:sequence>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="column" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FlexDirectionStyleEnumField" xmlns:q100="UnityEngine.UIElements" substitutionGroup="q100:BindableElement" type="tns:FlexDirectionStyleEnumFieldType" />
  <xs:complexType name="PositionFoldoutType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q101="UnityEngine.UIElements" base="q101:VisualElementType">
        <xs:sequence>
          <xs:element ref="q101:VisualElement" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PositionFoldout" xmlns:q102="UnityEngine.UIElements" substitutionGroup="q102:VisualElement" type="tns:PositionFoldoutType" />
  <xs:complexType name="VisualElementInspectorType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q103="UnityEngine.UIElements" base="q103:VisualElementType">
        <xs:sequence>
          <xs:element ref="q103:VisualElement" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VisualElementInspector" xmlns:q104="UnityEngine.UIElements" substitutionGroup="q104:VisualElement" type="tns:VisualElementInspectorType" />
  <xs:complexType name="StyleRatioFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q105="UnityEngine.UIElements" base="q105:BindableElementType">
        <xs:sequence>
          <xs:element ref="q105:Syntax" />
          <xs:element ref="q105:VisualElement" />
        </xs:sequence>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="0" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleRatioField" xmlns:q106="UnityEngine.UIElements" substitutionGroup="q106:BindableElement" type="tns:StyleRatioFieldType" />
  <xs:complexType name="TextAlignToggleFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q107="UnityEngine.UIElements" base="q107:BindableElementType">
        <xs:sequence>
          <xs:element ref="q107:VisualElement" />
        </xs:sequence>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="UpperLeft" name="value" xmlns:q108="UnityEngine" type="q108:TextAnchorType" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TextAlignToggleField" xmlns:q109="UnityEngine.UIElements" substitutionGroup="q109:BindableElement" type="tns:TextAlignToggleFieldType" />
  <xs:complexType name="BackgroundPositionStyleFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q110="UnityEngine.UIElements" base="q110:BindableElementType">
        <xs:sequence>
          <xs:element ref="q110:VisualElement" />
        </xs:sequence>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="center" name="value" type="xs:string" />
        <xs:attribute default="Horizontal" name="mode" type="q110:AxisType" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BackgroundPositionStyleField" xmlns:q111="UnityEngine.UIElements" substitutionGroup="q111:BindableElement" type="tns:BackgroundPositionStyleFieldType" />
  <xs:complexType name="StyleBackgroundFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q112="UnityEngine.UIElements" base="q112:BindableElementType">
        <xs:sequence>
          <xs:element ref="q112:Syntax" />
          <xs:element ref="q112:VisualElement" />
        </xs:sequence>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="none" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleBackgroundField" xmlns:q113="UnityEngine.UIElements" substitutionGroup="q113:BindableElement" type="tns:StyleBackgroundFieldType" />
  <xs:complexType name="PositionStyleEnumFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q114="UnityEngine.UIElements" base="q114:BindableElementType">
        <xs:sequence>
          <xs:element ref="q114:Syntax" />
          <xs:element ref="q114:VisualElement" />
        </xs:sequence>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="relative" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PositionStyleEnumField" xmlns:q115="UnityEngine.UIElements" substitutionGroup="q115:BindableElement" type="tns:PositionStyleEnumFieldType" />
  <xs:complexType name="TextOverflowStyleEnumFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q116="UnityEngine.UIElements" base="q116:BindableElementType">
        <xs:sequence>
          <xs:element ref="q116:Syntax" />
          <xs:element ref="q116:VisualElement" />
        </xs:sequence>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="clip" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TextOverflowStyleEnumField" xmlns:q117="UnityEngine.UIElements" substitutionGroup="q117:BindableElement" type="tns:TextOverflowStyleEnumFieldType" />
  <xs:complexType name="PercentSliderType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q118="UnityEngine.UIElements" base="q118:BindableElementType">
        <xs:sequence>
          <xs:element ref="q118:VisualElement" />
        </xs:sequence>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="0" name="value" type="xs:float" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PercentSlider" xmlns:q119="UnityEngine.UIElements" substitutionGroup="q119:BindableElement" type="tns:PercentSliderType" />
</xs:schema>